
<% if @message.msg_state != Message::State::REJECTED && @message.msg_state != Message::State::CONFIRMED %> 
	<% board = Board.find_board(@message.board_id) %>
	<% if @message.msg_type == Message::Type::JOIN && current_user.owner?(@message.board_id) %>
		<%= form_for board.members.build(:user_id => @user.id) do |f| %>
		<div><%= f.hidden_field :user_id, :value => @user.id %></div>
		<div><%= f.hidden_field :board_id, :value => @message.board_id %></div>
		<div><%= f.hidden_field :message, :value => @message.id %></div>
		<div class="confirm">
		    <%= f.submit "#{Message::Commit::CONFIRM}" %>
		</div> 
		<% end %>
    <% elsif @message.msg_type == Message::Type::INVITE && !current_user.member?(@message.board_id) %>
		<%= form_for board.members.build(:user_id => current_user.id) do |f| %>
		<div><%= f.hidden_field :user_id, :value => current_user.id %></div>
		<div><%= f.hidden_field :board_id, :value => @message.board_id %></div>
		<div><%= f.hidden_field :message, :value => @message.id %></div>
		<div class="confirm">
		    <%= f.submit "#{Message::Commit::CONFIRM}" %>
		</div>
		<% end %>
    <% end %>
    <%= form_for @message do |f| %>
	<div class="reject">
	<%= f.submit "#{Message::Commit::REJECT}" %>
	</div> 
	<% end %> 
<% end %> 
