<% if @message.msg_type == Message::Type::JOIN && @message.msg_state != Message::State::REJECTED && @message.msg_state != Message::State::CONFIRMED && !@user.member?(@message.group_id) %> 
  <%= form_for current_user.members.build(:group_id => @message.group_id) do |f| %>
<div>
    <%= f.hidden_field :user_id, :value => @message.from_user %>
</div>
<div>
    <%= f.hidden_field :group_id, :value => @message.group_id %>
</div>
<div>
    <%= f.hidden_field :message, :value => @message.id %>
</div>
<div class="confirm">
    <%= f.submit "#{Message::Commit::CONFIRM}" %>
</div> 
  <% end %>

<%= form_for @message do |f| %>
<div class="reject">
    <%= f.submit "#{Message::Commit::REJECT}" %>
</div> 
  <% end %> 
<% end %> 