<tr>
    <% @user = User.find_user( @message.from_user )%>
    <% if @message.msg_state == Message::State::UNREAD %> 
    <td><b><%= link_to @user.full_name, @user %></b></td>
    <td><b><%= link_to strip_and_cut(@message.subject, 70), @message %></b></td>
    <% else %> 
    <td><%= link_to @user.full_name, @user %></td>
    <td><%= link_to strip_and_cut(@message.subject, 70), @message %></td>
    <% end %>
    <td><%= render 'messages/cofirm_reject' %></td>
    <td><%= button_to 'Del', @message, :class => "button_reject", confirm: "Do you want to remove this message?", method: :delete, :remote => true %></td>
</tr>