<div class="signin_container">

<h1>&nbsp;</h1>
<%= form_for(:session, :url => sessions_path, :html => { :class => "clearfix"} ) do |f| %>
  <div class="textfield">
    <%= f.label :email %>
	<%= f.text_field :email, :class => "rounded" %>
  </div>
  <div class="textfield">
    <%= f.label :password %>
    <%= f.password_field :password, :class => "rounded" %>
  </div>
  <div class="linkfield">
    <%= check_box_tag :remeber_me, 1, params[:remeber_me] %>
    <%= label_tag :remeber_me %>
  </div>
  <%= f.submit "Sign in", :class => "with_img green" %>
<% end %>

<div class="linkfield">
	<%= link_to "forgotten password?", new_password_reset_path %><br />
	New user? <%= link_to "Sign up now!", signup_path %>
</div>

</div>