<% content_for :head_css do %>
<%= stylesheet_link_tag 'sessions' %>
<% end %>

<img src="../../assets/iris.png" id="bg" width="400px" hight="536px" alt="">
<div class="signin_container alpha60 clearfix">

<!--%= form_for(:session, :url => sessions_path, :html => { :class => "clearfix"}, :builder => AppFormBuilder ) do |f| %-->
<%= form_for :session, :url => sessions_path do |f| %>
  <div class="single_field">
    <%= f.label :email, :class => "nested_label" %>
	<%= f.text_field :email, :class => "text_rounded" %>
  </div>
  <div class="single_field">
    <%= f.label :password, :class => "nested_label" %>
    <%= f.password_field :password, :class => "pwd_rounded" %>
  </div>
  <div class="single_field white">
    <%= check_box_tag :remeber_me, 1, params[:remeber_me] %>
    <%= label_tag :remeber_me %>
	<%= link_to "forgotten password?", new_password_reset_path %>
  </div>
  <div class="single_field">
	<%= f.submit "Sign in", :class => "button_with_img button_green" %>
  </div>

<% end %>

<div class="single_field">
	<%= link_to "New user? Sign up now!", signup_path, :class => "button_with_img button_grey"  %>
</div>
</div>