<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :access_level %> 
    <%= f.radio_button 'access_level', '2' %><%= f.label :access_level ,'Public' %>
    <%= f.radio_button 'access_level', '1' %><%= f.label :access_level ,'Protected' %>
    <%= f.radio_button 'access_level', '0' %><%= f.label :access_level ,'Private' %><br />
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => 60 %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 3, :cols => 40 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
