<p align="right">
<% if @group.active? && current_user.owner?(@group.id) %>
        <span class="edit"><%= link_to 'Edit Group', edit_group_path(@group) %></span>
        | <span class="delete"><%= link_to 'Delete Group', @group, confirm: 'Are you sure?', method: :delete %></span>
<% end %>
<p>
<h2 align="center"><strong><%= @group.title %></strong></h2>
 <p align="center"><b><%= @group.status %> <%= @group.access %> Group, <%= pluralize(@group.view_count, 'view') %></b>
 <br /><%= @group.description %><br />
<% if !@members.nil? %>
   <% @members.each do |member| %>
   <% @member = member %>
   <%= render 'group_member' %>
   <% end %>
<% end %>
</p>

<% if current_user.owner?( @group.id ) %>
<%= render 'grp_invite' %>
<% elsif current_user.member?( @group.id ) %>
<%= render 'grp_leave' %>
<% else %>
<%= render 'grp_join' %>
<% end %>

