<tr>
    <td class="group">
        <span class="access"><%= group.status %> Group: </span>
        <span class="title"><%= link_to group.title, group %></span>
        <span class="views"><i>
                (<%= pluralize(group.view_count, 'view') + ', ' + pluralize(group.postings.count, 'post') %>)
                </i>
        </span>
        <span class="access"><i><font color="red">
         <%= group.access if group.access == Group::PRIVATE %></font></i>
        </span>
        <% if ( current_user.admin? && group.active? ) %>
        <span class="edit_group"><%= link_to 'Edit', edit_group_path(group) %></span>
        <span class="delete_group"><%= link_to 'Delete', group, confirm: 'Are you sure?', method: :delete %></span>
        <% end %>
        <span class="status"><i><font color=red><%= group.status unless group.active? %></font></i></span>
        <br />
        <span class="description"><%= strip_and_cut( group.description ) %></span>
    </td>
</tr>

