<% if @group.active? && @group.autojoin %>
<%= form_for current_user.members.build(:group_id => @group.id) do |f| %>
  <div><%= f.hidden_field :group_id %></div>
  <div><%= f.hidden_field :user_id, :value => current_user.id %></div>
  <div class="join"><%= f.submit "Join this group" %></div>
  <% end %>
<% else %>
<%= form_for current_user.sent.build(:from_user => current_user.id) do |f| %>
  <% owner = @group.members.find_by_owner(true) %>
  <div><%= f.hidden_field :to_user, :value => owner.user_id %></div>
  <div><%= f.hidden_field :group_id, :value => @group.id %></div>
  <div><%= f.text_area :content , :rows => 3, :cols => 40, :value => "Hi!\nI would like to join your group.\nThank you!" %></div>
  <div class="join"><%= f.submit "#{Message::Commit::JOIN}" %></div>
<% end %>
<% end %>