<p id="notice">
    <%= notice %>
</p>
<%= render 'group_details' %>
<% if current_user.member?( @group.id ) %>
<%= render 'posting_form' %>
<% end %>
<% if ( !@postings.nil? && !@postings.empty? ) %>
<p>
<% if ( !current_user.member?( @group.id ) && @postings.count > 0 && @group.access == Group::PRIVATE ) %> 
<i>Note: It is a private group, so you can only see the public posts.</i>
<% end %>
    <div class="apple_pagination">
        <%= will_paginate @postings, :container => false, :total_entries => @postings.count %>
    </div>
    <table class="postings" summary="group postings">
        <%= render @postings %>
    </table>
    <div class="apple_pagination">
        <%= will_paginate @postings, :container => false, :total_entries => @postings.count %>
    </div>
</p>
<% end %>
