<p id="notice">
    <%= notice %>
</p>
<%= render 'group_details' %>
<!-- if current user is a owner or member of a group -->
<% if ( current_user.belongs( @group ) ) %>
<%= render 'postings/form' %>
<% end %>
<% if ( !@postings.nil? ) %>
<p>
    <div class="apple_pagination">
        <%= will_paginate @postings, :container => false, :total_entries => @postings.count %>
    </div>
    <% unless @postings.empty? %>
    <table class="postings" summary="group postings">
        <%= render @postings %>
    </table>
    <% end %>
    <div class="apple_pagination">
        <%= will_paginate @postings, :container => false, :total_entries => @postings.count %>
    </div>
</p>
<% end %>
