<% if current_user.nil? %>
<% content_for :head_css do %>
<%= stylesheet_link_tag 'sessions' %>
<% end %>
<% end %>

<div class="signin_container alpha60 clearfix">

<%= form_for @user do |f| %>

<%= render 'shared/flash_msg', :msg => "error" %>

<div class="single_field togglelabel">
    <% if !check(@user, "Email").nil? %>
    <div class="flash_error"><%= check(@user, "Email") %></div>
    <% end %>
    <%= f.label :email, :class => "nested_label" %>
    <%= f.text_field :email, :class => "text_big" %>
</div>
<div class="single_field togglelabel">
    <% if !check(@user, "First name").nil? %>
    <div class="flash_error"><%= check(@user, "First name") %></div>
    <% end %>
    <%= f.label :first_name, :class => "nested_label" %>
    <%= f.text_field :first_name, :class => "text_big" %>
</div>
<div class="single_field togglelabel">
    <% if !check(@user, "Last name").nil? %>
    <div class="flash_error"><%= check(@user, "Last name") %></div>
    <% end %>
    <%= f.label :last_name, :class => "nested_label" %>
    <%= f.text_field :last_name, :class => "text_big" %>
</div>
<div class="single_field">
    <%= f.select(:country, Country.all, {:selected => "United States"},:class => "text_big", :style => "width:100%") %>
</div>

<div class="single_field">
    <%= f.select(:state, State.all, {:include_blank => true},:class => "text_big", :style => "width:100%") %>
</div>
<div class="single_field togglelabel">
    <%= f.label :city, :class => "nested_label" %>
    <%= f.text_field :city, :class => "text_big" %>
</div>

<% if current_user.nil? %>
<div class="single_field togglelabel">
    <% if !check(@user, "Password").nil? %>
    <div class="flash_error"><%= check(@user, "Password") %></div>
    <% end %>
    <%= f.label :password, 'Password', :class => "nested_label" %>
    <%= f.password_field :password, :class => "text_big" %>
</div>
<div class="single_field togglelabel">
    <% if !check(@user, "Password").nil? %>
    <div class="flash_error"><%= check(@user, "Password") %></div>
    <% end %>
    <%= f.label :password_confirmation, 'Confirm Password', :class => "nested_label" %>
    <%= f.password_field :password_confirmation, :class => "text_big" %>
</div>
<% end %>

<div class="single_field">
<% if current_user.nil? %>
    <%= f.submit "Create User", :class => "button_with_img button_green" %>
<% else %>
    <%= f.submit "Update", :class => "button_with_img button_green" %>
<% end %>
</div>
<div class="single_field white">
<% if !current_user.nil? %>
    <%= link_to 'Close Account',  current_user, confirm: 'Are you sure?', method: :delete, :class => 'tips', :title => "Close your account?" %>
<% end %>
</div>

<% end %>
</div>

