<p>
<b>
<span class="access"><%= @group.access %> Group: </span>
<span class="title"><%= link_to @group.title, @group %></span>
</b>
<span class="status"><i><%= @group.status unless ( @group.active ) %></i></span>
<span class="views"><i> (<%= pluralize(@group.view_count, 'view') + ', ' + pluralize(@group.postings.count, 'post') %>)</i></span>
<span class="status"><i><font color=red><%= @group.status unless @group.active? %></font></i></span>
<br />
<i><span class="description"><%= strip_and_cut( @group.description ) %></i></span>
</p>
<% @group.all_member_comments(@user.id).each do |posting| %>
<p>
<%= render posting %>
</p>
<% end %>
