<% if current_user.id == @user.id %>
	<div class="_nav_link"><%= link_to 'Create New Board', user_path(current_user)+"?new_board=on" %></div>
<% end %>

<%= form_tag user_path(current_user), :method => :get, :id => "tab_boards_search", :remote => true do %>
<%= text_field_tag :search, params[:search], :size => 70 %>
<%= hidden_field_tag 'board_search', 'on' %>
<%= submit_tag "Search boards", :name => nil, :class => 'button_neutral' %>
<% end %>

<div class="action_tab">
<%= render 'tab_board_results' %>
</div>
<i><font color="red" size="smaller">Max 50 results</font></i>
