<%= form_tag user_path(current_user), :method => :get, :id => "tab_boards_search", :remote => true do %>
<%= text_field_tag :search, params[:search], :size => 70 %>
<%= text_field_tag :board_search, "on", :hidden => true %>
<%= submit_tag "Search boards", :name => nil, :class => 'button_neutral' %>
<% end %>

<div class="search_tab">
<% 
  if current_user?(@user)
	  if @search_results.nil? && params[:search].nil?
	    @search_results = Board.search(params[:search]).limit(50)
	  end
  end
  
  if !@search_results.nil? && @search_results.count > 0 
%>
<%= render 'shared/containers/small_container', :container => @search_results %>
<% end %>
</div>
<i><font color="red" size="smaller">Max 50 results</font></i>
