<%= form_tag user_path(current_user), :method => :get, :id => "tab_schools_search", :remote => true do %>

<%= text_field_tag :school_search, "on", :hidden => true %>

<% states = State.all %>
<%= select_tag 'state', options_from_collection_for_select(states, :last, :first, params[:state] ||= current_user.state ) %>

<% @cities = School.where('state = ? and city = ?', current_user.state, current_user.city) %>

<% if @cities.count > 0 %>
<%= text_field_tag :city, params[:city] ||= current_user.city, :size => 15 %>
<% else %>
<%= text_field_tag :city, params[:city] %>
<% end %>
<%= text_field_tag :search, params[:search], :size => 30 %>
<%= submit_tag "Search schools", :name => nil, :class => 'button_neutral' %>
<% end %>

<div class="search_tab">
<% 
  if current_user?(@user)
	  if @search_results.nil? && !params[:state].nil? && ( !params[:search].nil? || !params[:city].nil? )
	    @search_results = School.search(params[:search], params[:state], params[:city]).limit(50)
	  end
  end
  
  if !@search_results.nil? && @search_results.count > 0 
%>
<%= render 'shared/containers/small_container', :container => @search_results %>
<% end %>
</div>
<i><font color="red" size="smaller">Max 50 results</font></i>
