<div class="name"><h2><%= @user.full_name %></h2></div>
<div class="email"><%= @user.email %>,</div>
<div class="location"><%= @user.location %></div>
<div class="view_count"><%= pluralize(@user.view_count, 'view') %></div>
<br class="clearBoth" />
<nav>
	<ul>
	<% if current_user?(@user) %>
	<li><%= link_to 'New Board', new_board_path %></li>
	<li><%= link_to 'Edit Profile', edit_user_path(@user) %></li>
	<li><%= link_to 'Delete Profile', @user, confirm: 'Are you sure?', method: :delete,
	                :title => "Delete #{@user.full_name}" %></li>
	<% end %>
   </ul>
</nav>
<br />
<hr>
<div id="user_boards">
<% unless @user.boards.empty? %>
  <div class="user_board">
  <%= link_to "All", user_path(@user) %>
  </div>
  <% @user.boards.each do |board| %>
     <% if board.active? %>
     <div class="user_board">
     <%= link_to "#{board.title}", :board => board.id %>
     </div>
     <% end %>
  <% end %>
<% end %>
</div>