<div class="view_count"><%= pluralize(@user.view_count, 'view') %></div>
<div class="name"><h2><%= @user.full_name %></h2></div>
<nav>
	<ul>
	<% if current_user?(@user) %>
	<li><%= link_to 'New Board', new_board_path %></li>
	<li><%= link_to 'Edit Profile', edit_user_path(@user) %></li>
	<li><%= link_to 'Delete Profile', @user, confirm: 'Are you sure?', method: :delete,
	                :title => "Delete #{@user.full_name}" %></li>
	<% end %>
   </ul>
</nav>
<div class="email"><%= @user.email %>,</div>
<div class="location"><%= @user.location %></div>
<hr>
<div id="user_schools">
<%= render 'user_schools' %>
</div>
<div id="user_boards">
<%= render 'user_boards' %>
</div>