<li>
<%= link_to user.full_name, user %>, <%= pluralize( user.view_count, 'view' ) %>,
<%= user.location %> (<%= user.email %>)
<% if current_user?(user) %>
  | <%= link_to 'Edit', edit_user_path(user) %>
  | <%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete,
                      :title => "Delete #{user.full_name}" %>
<% elsif admin?  %>
   <%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete,
                      :title => "Delete #{user.full_name}" %>
<% end %>
</li>
<br />
