<h2 align="center"><strong><%= @user.full_name %></strong></h2>
<p align="center"><b><%= @user.email %>, <%= @user.location %>, 
    <%= pluralize(@user.view_count, 'view') %></b></p>
<nav>
	<ul>
<% if current_user?(@user) %>
<li><%= link_to 'New Board', new_board_path %></li>
<li><%= link_to 'Edit Profile', edit_user_path(@user) %></li>
<li><%= link_to 'Delete Profile', @user, confirm: 'Are you sure?', method: :delete,
                :title => "Delete #{@user.full_name}" %></li>
<% end %>
   </ul>
</nav>
<br />
<hr>
<div id="user_boards">
<b>Boards:</b><br />
<% unless @user.boards.empty? %>
  <%= link_to "All", user_path(@user) %>
  <br />
  <% @user.boards.each do |board| %>
     <% if board.active? %>
     <div id="load_board">
     	<b><%= link_to "#{board.title}", :board => board.id %></b>
     </div>
     <%= link_to "Go to #{board.title}", board_path(board) %>
     <br />
     <% end %>
  <% end %>
<!-- %= render 'shared/container', :container => @user.boards % -->
</div>
<% end %>