<p id="notice">
    <%= notice %>
</p>
<h2><strong>User</strong></h2>
    <% if current_user?(@user) %>
    <td><%= link_to 'New Group', new_group_path %></td>
    <td>| <%= link_to 'Edit Profile', edit_user_path(@user) %></td>
    <td>| <%= link_to 'Delete Profile', @user, confirm: 'Are you sure?', method: :delete,
                      :title => "Delete #{@user.full_name}" %></td>
    <% end %>
<p>
    <%= avatar_for @user %>
    <br />
    <b>Email:</b>
    <%= @user.email %>
</p>
<p>
    <b>Name:</b>
    <%= @user.full_name %>
</p>
<p>
    <b>Location:</b>
    <%= @user.location %>
</p>
<p><b>Views:</b><%= @user.view_count %></p>
<% if ( !@postings.nil? ) %>
<p>
<div class="apple_pagination">
    <%= will_paginate @postings, :container => false, :total_entries => @postings.count %>
</div>
<% unless @postings.empty? %>
<table class="postings" summary="User postings">
    <%= render @postings %>
</table>
<% end %>
<div class="apple_pagination">
    <%= will_paginate @postings, :container => false, :total_entries => @postings.count %>
</div>
</p>
<% end %>
