<p id="notice">
    <%= notice %>
</p>
<h2 align="center"><strong><%= @user.full_name %></strong></h2> 
<p align="center"><b><%= @user.email %>, <%= @user.location %>, 
    <%= pluralize(@user.view_count, 'view') %></b></p>

<hr>
<p align="right">
<% if current_user?(@user) %>
<%= link_to 'New Group', new_group_path %>
| <%= link_to 'Edit Profile', edit_user_path(@user) %>
| <%= link_to 'Delete Profile', @user, confirm: 'Are you sure?', method: :delete,
                :title => "Delete #{@user.full_name}" %>
<% end %>
</p>
<hr>
<% unless @user.groups.empty? %>
<h3><%= @user.first_name %>'s groups:</h3>
<p>
    <table>
    <%= render @user.groups %>
    </table>
</p>
<% end %>
<hr>
<h3><%= @user.first_name %>'s posts:</h3>
<div id="user_postings">
  <%= render 'user_postings' %>
</div>
</p>

