<%= notice %>

<div id='user_content'>
<%= link_to 'Back', :back, :class => "button_neutral" %>
<div id="members">
Member in boards:
<%= render 'shared/containers/small_container', :container => @user.boards, :action => 'ban' %>
</div>

<div class="user_sub_title">
<%= @postings_title %>
</div> <!-- close user_sub_title -->
		
<div id="user_postings">
<%= render 'postings' %>
</div> <!-- close user_postings -->
</div> <!-- close main_part -->


