<%= form_for(@posting) do |f| %>
<% if @posting.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@posting.errors.count, "error") %> prohibited this posting from being saved:</h2>
    <ul>
        <% @posting.errors.full_messages.each do |msg| %>
        <li>
            <%= msg %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>
<% if @posting.scheduled_event_id %>
<%= render 'scheduled_events/form_fields_for', :f => f %>
<% end %>
<div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
</div>
<div class="field">
    <% if @board %>
    <% if @board.access == Posting::PUBLIC %>
    <%= f.radio_button 'visibility', '1', :checked => true %><%= f.label :visibility ,Posting::PUBLIC %>
    <%= f.radio_button 'visibility', '0', :checked => false %><%= f.label :visibility, Posting::PRIVATE %>
    <% elsif @board.access == Posting::PRIVATE %>
    <%= f.radio_button 'visibility', '1', :checked => false %><%= f.label :visibility, Posting::PUBLIC %>
    <%= f.radio_button 'visibility', '0', :checked => true %><%= f.label :visibility ,Posting::PRIVATE %>
    <% end %>
    <% else %>
    <%= f.radio_button 'visibility', '1' %><%= f.label :visibility ,Posting::PUBLIC %>
    <%= f.radio_button 'visibility', '0' %><%= f.label :visibility, Posting::PRIVATE %>
    <% end %>
</div>
<div class="field">
    <%= f.text_area :content, :rows => 7 %>
</div>
<div class="actions">
    <%= f.submit 'Save', :class => "edit_button" %>
</div>
<% end %> 