<%= form_for(@posting) do |f| %>
<% if @posting.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@posting.errors.count, "error") %> prohibited this posting from being saved:</h2>
    <ul>
        <% @posting.errors.full_messages.each do |msg| %>
        <li>
            <%= msg %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>
<% if @posting.scheduled_event_id || params[:act] == 'event' %>
<%= render 'scheduled_events/form_fields_for', :f => f, :posting => @posting %>
<% end %>
    <%= hidden_field_tag 'board_id', params[:board] %>
<div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
</div>
<div class="field">
    <%= f.text_area :content, :rows => 10 %>
</div>
    <br />
    <% if @board %>
    <%= f.radio_button 'visibility', '1', :checked => (@board.access == Posting::PUBLIC), :class => 'tips', :title => title_for_public_post %>
    <%= f.label :visibility ,Posting::PUBLIC, :class => 'tips', :title => title_for_public_post %>
    <%= f.radio_button 'visibility', '0', :checked => (@board.access == Posting::PRIVATE), :class => 'tips', :title => title_for_private_post %>
    <%= f.label :visibility, Posting::PRIVATE, :class => 'tips', :title => title_for_private_post %>
    <% else %>
    <%= f.radio_button 'visibility', '1', :class => 'tips', :title => title_for_public_post %>
    <%= f.label :visibility ,Posting::PUBLIC, :class => 'tips', :title => title_for_public_post %>
    <%= f.radio_button 'visibility', '0', :class => 'tips', :title => title_for_private_post %>
    <%= f.label :visibility, Posting::PRIVATE, :class => 'tips', :title => title_for_private_post %>
    <% end %><br />
<div class="actions">
    <%= f.submit 'Save', :class => "save_button" %>
</div>
<% end %> 