<% return nil if posting.nil? %>
<div class="posting_left_column clearfix">
    <% if !posting.subject.nil? && !posting.subject.empty? %>
    <div class="inline subject"><%= ( strip_and_cut(posting.subject,120) ) %></div>
    <% end %>

    <div class="inline">        
        <% if posting.active_user %>
            <% if current_user && current_user.id == posting.user_id %>
            posted by me
            <% elsif user = posting.user %>
              <% if current_user %>
                <%= link_to "#{user.full_name}", user_path(posting.user_id) %>
              <% else %>
                <b><%= user.full_name %></b>
              <% end %>
            <% else %>Unknown user<% end %>
        <% else %>Unknown user<% end %>
    </div>
        
    <% unless posting.created_at.nil? %>
        <div class="inline"><%= posting.created_at.getlocal.strftime("%m/%d/%Y %I:%M%p") %><br />
            <i>(<%= (time_ago_in_words(posting.created_at)+" ago") %>)</i></div>
    <% end %>
  
    <div class="inline">
        <% if @board %>
          <% if current_user %>
        <b><%= link_to "#{strip_and_cut(@board.title,30)}", home_path + "?board=#{posting.board_id}", :class => "link_to_text" %></b>
          <% else %>
        <b><%= strip_and_cut(@board.title,30) %></b>
          <% end %>
        <% else %>
        <i>(Board was removed)</i>
        <% end %>
    </div>

    <% if !@board.nil? && !@board.school_id.nil? %>
    <% school = School.find_school(@board.school_id) %>
    <div class="inline">
      <% if current_user %>
        <b><%= link_to "#{strip_and_cut(school.name,30)}", home_path + "?school=#{school.id}", :class => "link_to_text" %></b>
      <% else %>
        <b><%= strip_and_cut(school.name,30) %></b>
      <% end %>
    </div>
    <% end %>
</div>
<% max_content = 300 %>
<div class="posting_right_column clearfix">
	<div class="inline">
    <%= output_with_html( posting.content, max_content ) %>
    </div>
    <% unless posting.view_count == 0 %>
    <div class="inline"><%= pluralize( posting.view_count, 'UP')  %></div>
    <% end %>
    <% if posting.access == Posting::PRIVATE %>
    <div class="inline"><i><font color="#808080"><%= posting.access %></font></i></div>
    <% end %>
</div>

<br class="clearBoth" />

<% if posting.content.length > max_content %>
<p><b>Full content:</b><br />
<%= output_with_html( posting.content ) %>
</p>
<% end %>
