<h1>Posts</h1>
|<%= @group_count %>|
|<%= @count %>|
<div class="apple_pagination">
    <%= will_paginate @postings, :container => false , :total_entries => @postings.count %>
</div>
<table>
<% @postings.each do |posting| %>
  <%= render posting %>
<% end %>
</table>
<div class="apple_pagination">
    <%= will_paginate @postings, :container => false , :total_entries => @postings.count %>
</div>
<br />


