<p id="notice"><%= notice %></p>
<h2><strong><%= @posting.access %> Post</strong></h2>
<p>
<% if ( current_user.id == @posting.user_id ) %>
<%= link_to 'Edit', edit_posting_path(@posting) %>
| <span class="delete_group">
    <%= link_to 'Delete', @posting, confirm: 'Are you sure?', method: :delete %></span>
<% end %>
<i><%= pluralize( @posting.view_count, 'view') %></i>
</p>
<p><b>Group is <%= link_to @posting.group_status, group_path(@posting.group_id) %></b></p>
<p><b>User is 
    <% if ( @posting.active_user )%>
    <%= link_to @posting.user_status, user_path(@posting.user_id) %>
    <% else %>
    <%= @posting.user_status %>
    <% end %>
</b><p>
<p><b>Subject:</b> <%= @posting.subject %></p>
<p><b>Content:</b> <%= @posting.content %></p>


