<p id="notice"><%= notice %></p>
<h2><strong><%= @posting.access %> Post</strong></h2>
<p>
<% if ( current_user.id == @posting.user_id ) %>
<%= link_to 'Edit', edit_posting_path(@posting) %>
| <span class="delete_board">
    <%= link_to 'Delete', @posting, confirm: 'Are you sure?', method: :delete %></span>
<% end %>
<i><%= pluralize( @posting.view_count, 'view') %></i>
</p>
<% @board = Board.find_board( @posting.board_id ) 
   unless @board.nil? %>
<p><b>Board: <%= link_to @board.title, board_path(@board) %></b></p>
<% end %>
<p><b>By: 
    <% if ( @posting.active_user )%>
    <%   @user = User.find_user( @posting.user_id ) 
       unless @user.nil? %>
    <%= link_to @user.full_name, user_path(@user) %>
    <% end %>
    <% else %>
    <%= @posting.user_status %> user
    <% end %>
</b><p>
<p><b>Subject:</b> <%= @posting.subject %></p>
<p><b>Content:</b> <%= wrap(@posting.content) %></p>
<% if current_user.id != @posting.user_id %>
<% @reply = true %>
<%= render 'boards/posting_form' %>
<% end %>

<%= link_to 'Back', home_path %>
