<%
@board = @posting.board
if @posting.access == Posting::PRIVATE && ( current_user.nil? || !current_user.member?(@board) )
return "This is a private post."
end
%>
<p id="notice"><%= notice %></p>

<div id="posting_show_content">
<% if current_user %>	  	
<%= link_to 'Home', home_path + "?board=#{@board.id}", :class => "button_neutral" %>	  	
<% end %>
<% if current_user && current_user.id == @posting.user_id %>
<div class="float_right">
    <%= link_to 'Edit', edit_posting_path(@posting), :class => "edit_button" %>

    <%= link_to 'Delete', @posting, confirm: 'Are you sure?',
        method: :delete, :class => "delete_button"
    %>
</div>
<% end %>

<br class="clearBoth" />

<div class="float_right">
<% if current_user %>
      <%= render 'votes/vote_btn', :element => @posting %>
<% end %>
</div>

<% if @posting.scheduled_event_id %>
<%= @posting.scheduled_event.description.html_safe %>
<br />
<% end %>

<%= render 'postings/posting_details', :posting => @posting %>

<% if current_user && current_user.id != @posting.user_id %>
<%= render 'postings/reply_form' %>
<% end %>

<% if @postings && @postings.any? %>
<p><b>The full reply chain:</b><br />
<div id="user_postings">
<%= render 'shared/containers/small_container', :container => @postings, :action => '' %>
</div>
</p>
<p><b>The originated post:</b><br />
<%= render 'postings/posting_details', :posting => @original_post %>
</p>
<% end %>

</div> <!-- end of posting_element -->
