<% return nil if element.nil? %>
<% if type == "posting" %>
<div class="posting_element">

	<div class="content"><%= link_to strip_and_cut(element.content, 120), posting_path(element) %></div>
	<div class="view_count">
	<% unless element.view_count == 0 %>
	(<%= pluralize( element.view_count, 'view')  %>)
	<% end %>
	</div>
	<div class="access">
	    <%= element.access if element.access == Posting::PRIVATE %>
    </div>
    <% if ( current_user.id == element.user_id ) %>
	<div class="edit_button"><%= link_to 'Edit', edit_posting_path(element) %></div>
	<div class="delete_button"><%= link_to 'Delete', element, confirm: 'Are you sure?', method: :delete %></div>
	<% end %>
	
	<br class="clearBoth" />
	
	<div class="subject">
	<%= ( 'Subject: ' + element.subject ) if !element.subject.nil? && !element.subject.empty? %> 
	</div>
	<div class="user">
	posted by
	<% if element.active_user %>
		<% if current_user.id == element.user_id %>
		you
		<% elsif user = element.user %>
		<%= link_to "#{user.full_name}", user_path(element.user_id) %>
		<% else %>
		Unknown user
		<% end %>
	<% else %>
	Unknown user
	<% end %>
	</div>	
	<div class="created_at">
		<%= (time_ago_in_words(element.created_at)+" ago") unless element.created_at.nil? %>
	</div>    
	<div class="title">
	<% if board = Board.find(element.board_id) %>
	on Board <%= link_to "#{strip_and_cut(board.title,50)}", board_path(element.board_id) %>
	<% else %>
	Unknown
	<% end %>
	</div>
	
	<br class="clearBoth" />
</div>
<% elsif type == "user"  %>
<div class="user_element">
	<div class="user"><%= link_to element.full_name, element %></div>
	<div class="view_count"><%= pluralize( element.view_count, 'view' ) %></div>
	<div class="location"><%= element.location %></div> 
	<div class="email">(<%= element.email %>)</div>
	<% if current_user?(element) %>
	<div class="edit_button"><%= link_to 'Edit', edit_user_path(element) %></div>
	<div class="delete_button"><%= link_to 'Delete', element, confirm: 'Are you sure?', method: :delete,
	                      :title => "Delete #{element.full_name}" %></div>
	<% elsif admin?  %>
	   <div class="delete_button"><%= link_to 'Delete', element, confirm: 'Are you sure?', method: :delete,
	                      :title => "Delete #{element.full_name}" %></div>
	<% end %>
	
	<br class="clearBoth" />
</div>
<% elsif type == "board"  %>
<div class="board_element"> 
    <div class="title">Board: <%= link_to element.title, element %></div>
    <div class="view_count">(<%= pluralize(element.view_count, 'view') + ', ' + pluralize(element.postings.count, 'post') %>)</div>
    <div class="access"><%= element.access if element.access == Board::PRIVATE %></div>
    <% if ( current_user.admin? && element.active? ) %>
    <div class="edit_button"><%= link_to 'Edit', edit_board_path(element) %></div>
    <div class="delete_button"><%= link_to 'Delete', element, confirm: 'Are you sure?', method: :delete %></div>
    <% end %>
    <div class="status"><%= element.status unless element.active? %></div>
    
    <br class="clearBoth" />
    
    <div class="description"><%= strip_and_cut( element.description ) %></div>
    <br class="clearBoth" />
</div>

<% elsif type == "member"  %>
<div class="member_element"> 
   <% board = Board.find_board(element.board_id) %>
   <div class="access"><%= board.access %></div>
   <div class="title">Board: <%= link_to board.title, board %></div>
   <div class="status"><%= board.status unless ( board.active ) %></div>
   <div class="view_count">(<%= pluralize(board.view_count, 'view') + ', ' + pluralize(board.postings.count, 'post') %>)</div>
   <br class="clearBoth" />
   <div class="description"><%= strip_and_cut( board.description ) %></div>
   <br class="clearBoth" />
</div>

<% elsif type == "school"  %>
<div class="school_element"> 
	<div class="title"><b><%= link_to element.school_name, element.url %></b></div>
	<div class="location"><%= element.location %></div>
	<div class="add_button"><%= render 'schools/add', :school => element %></div>
	<br class="clearBoth" />
</div>

<% end %>
