<%= form_tag search_path, :method => :get, :id => "schools_search", :remote => true do %>

<% states = State.all %>
<div class="field togglelabel">
<%= select_tag 'state', options_from_collection_for_select(states, :last, :first, (current_user ? current_user.state : 'AL')), { :include_blank => true } %>
</div>

<% if current_user %>
<% cities = School.where('state = ? and city = ?', current_user.state, current_user.city) %>
<% end %>

<div class="field togglelabel">
<%= label_tag "city", :City, :class => "nested_label" %>
<% if cities && cities.any? %>
<%= text_field_tag :city, params[:city] ||= current_user.city %>
<% else %>
<%= text_field_tag :city, params[:city] %>
<% end %>
</div>

<div class="field togglelabel">
<%= label_tag "school", :School, :class => "nested_label" %>
<%= text_field_tag :search, params[:search] %>
</div>
<%= submit_tag "Search schools", :name => nil, :class => "button_with_img button_green", :disable_with => 'Updating...' %>
<% end %>
<br />
<%= render 'shared/containers/search_container', :object_type => 'school' %>

