<% from_user = User.find_user( element.from_user )%>
<div class="float_right hidable">
<%= button_to 'x', element, :class => "button_reject", confirm: "Do you want to remove this message?", method: :delete, :remote => true %>
<%= render 'messages/confirm_reject', :message => element, :from => from_user %>
</div>

<% if from_user %>
	<% if element.msg_state == Message::State::UNREAD %>
	<div class="message_from"><b><%= link_to from_user.full_name, from_user %></b></div>
	<div class="message_subj"><b><%= link_to strip_and_cut(element.subject, 70), element %></b></div>
	<% else %> 
	<div class="message_from"><%= link_to from_user.full_name, from_user %></div>
	<div class="message_subj"><%= link_to strip_and_cut(element.subject, 70), element %></div>
	<% end %>
<% else %>
	<div class="inline"><b>This user account has been deactivated</b></div>
<% end %>
