<div class="inline">
	<%= link_to strip_and_cut(element.content, 120), posting_path(element) %>
</div>

<% unless element.view_count == 0 %>
<div class="inline">(<%= pluralize( element.view_count, 'view')  %>)</div>
<% end %>

<% if element.access == Posting::PRIVATE %>
<div class="inline"><i><font color="red"><%= element.access %></font></i></div>
<% end %>

<% if !read_only && current_user.id == element.user_id %>
<div class="delete_button">
	<%= link_to 'Del', element, confirm: 'Are you sure?', method: :delete %>
</div>
<div class="edit_button"><%= link_to 'Edit', edit_posting_path(element) %></div>
<% end %>

<% if !params[:board].nil? && params[:board] == 'all' && !read_only && @loader && current_user.member?(element.board_id) %>
<div class="action_button">
	<%= link_to 'Group', user_path(element.user_id) + "?board=" + element.board_id.to_s %>
</div>
<% end %>

<br class="clearBoth" />

<% if !element.subject.nil? && !element.subject.empty? %>
<div class="inline"><%= ( "Subject: \"" + strip_and_cut(element.subject,120) ) + "\"" %></div>
<% end %>

<div class="inline">
	posted by
	<% if element.active_user %>
	<% if current_user.id == element.user_id %>
	you
	<% elsif user = element.user %>
	<%= link_to "#{user.full_name}", user_path(element.user_id) %>
	<% else %>
	Unknown user
	<% end %>
	<% else %>
	Unknown user
	<% end %>
</div>

<% unless element.created_at.nil? %>
<div class="inline"><%= (time_ago_in_words(element.created_at)+" ago") %></div>
<% end %>

<div class="inline">
	<% if board = Board.find(element.board_id) %>
	on Board <%= link_to "#{strip_and_cut(board.title,50)}", board_path(element.board_id) %>
	<% else %>
	Unknown
	<% end %>
</div>
