<div class="inline"><%= link_to element.title, element %></div>
<div class="inline"><%= element.description %></div>
<% owner = element.members.find_by_owner(true) %>
<% user = User.find_user(owner.user_id) %>
<div class="inline">(<%= user.full_name %>)</div>
<% if element.active? && !current_user.member?(element) %>
<div class="inline_right">
<%= form_for current_user.sent.build(:from_user => current_user.id), :class => "submitable", :remote => true do |f| %>
  
  <%= f.hidden_field :to_user, :value => owner.user_id %>
  <%= f.hidden_field :board_id, :value => element.id %>
  <%= f.text_field :content, :size => 40, :value => "Hi! I would like to join your board. Thank you!" %>
  <%= f.submit "#{Message::Commit::JOIN}", :class => "button_confirm" %>
<% end %>
</div>
<% end %>
<br class="clearBoth" />
