<% user = User.find_user(element.user_id) %>
<% return nil if user.nil? %>
<div class="inline"><%= link_to user.full_name, user %></div>

<% if @board.active? %>
<div class="inline">
<% if action == 'invite' %>
	<%= form_for current_user.sent.build(:from_user => current_user.id), :class => "submitable", :remote => true do |f| %>
	  <%= f.hidden_field :board_id, :value => @board.id %>
	  <%= f.hidden_field :to_user, :value => user.id %>
	  <%= f.text_field :content, :value => "Hi! I would like to invite you to my board. Thank you!" %>
	  <%= f.submit "#{Message::Commit::INVITE}", :class => "button_confirm" %>
	<% end %>
<% elsif action == 'ban' %>
	<% if user.owner?(@board)%>
	Owner
	<% elsif user.member?(@board) %>
	<%= form_for @board.members.find_by_user_id(user.id), :html => { :method => :delete } do |f| %>
	  <%= f.submit "Ban #{user.full_name}", :class => "button_reject" %>
	<% end %>
	<% else %>
	Follower
	<% end %>

<% end %>
</div>
<% end %>
<br class="clearBoth" />