<div class="hidable float_right">
<% if admin?  %>
<%= link_to 'Edit', edit_user_path(element), :class => "edit_button" %>
<%= link_to 'Delete', element, confirm: 'Are you sure?', method: :delete,
	:title => "Delete #{element.full_name}", :class => "delete_button tips" %>
<% end %>
</div>

<div class="posting_left_column clearfix">
<div class="inline"><%= link_to element.full_name, element %></div>
<div class="inline"><%= pluralize( element.view_count, views_str ) %></div>
<div class="inline"><%= element.location %></div>
</div>

<div class="posting_right_column clearfix">
<% if @board && !element.member?(@board) %>
<div class="inline_right">
<%= form_for current_user.sent.build(:from_user => current_user.id), :class => "submitable", :remote => true do |f| %>
  <%= f.hidden_field :board_id, :value => @board.id %>
  <%= f.hidden_field :to_user, :value => element.id %>
  <%= f.text_area :content, :rows => 4, :cols => 33, :value => "Hi!\nI would like to invite you to this board.\nThank you!" %>
  <%= f.submit "#{Message::Commit::INVITE}", :class => "button_confirm" %>
<% end %>	
</div>
<% end %>
</div>
