<% return nil if current_user.nil? %>

<div id="user_title_nav">
	<div class="nav_link messages">
    <%= render 'home/check_new_msg' %>  
    </div>
    <br class="clearBoth" />
	<div class="background_write">Schools</div>
	<br class="clearBoth" />
	<div id="user_schools"><%= render 'home/user_schools', :user => current_user %></div>
	<br class="clearBoth" />
	<div class="background_write">Boards</div>
	<br />
	<div class="nav_link"><%= link_to "All My Boards", home_path + '?act=boards' %></div>
	<br class="clearBoth" />
	<br />
	<div id="user_boards"><%= render 'home/user_boards', :user => current_user %></div>
	<br class="clearBoth" />
	<br />
	<div class="background_write">What's new?</div>
	<br />
	<div class="http_link"><%= link_to "Users", users_path %></div>
	<div class="http_link"><%= link_to "Schools", schools_path %></div>
	<div class="http_link"><%= link_to "Boards", boards_path %></div>
	<div class="http_link"><%= link_to "Posts", postings_path %></div>
</div>
