<div class="close_button clearfix clickable">
<%= link_to "Close", home_path + "?board=#{params[:board]}", :title => "Close Event" %>
</div>

<div class="clearfix">
<%= form_for @new_event, :remote => true do |f| %>
  <% if @new_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_event.errors.count, "error") %> prohibited this posting from being saved:</h2>
      <ul>
      <% @new_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= hidden_field_tag 'from_posting', @from_posting %>
    <%= hidden_field_tag 'board_id', @board.id %>
    <%= f.fields_for :scheduled_event do |builder| %>
      <%= builder.label :start_date %><%= builder.date_select :start_date %><br />
      <%= builder.label :end_date %><%= builder.date_select :end_date %><br />
      <%= builder.label :start_time %><%= builder.time_select :start_time %>
      <%= builder.label :end_time %><%= builder.time_select :end_time %><br />
      <%= builder.radio_button 'repeat', '0', :checked => false %><%= builder.label :daily , "Daily" %><br />
      <%= builder.radio_button 'repeat', '1', :checked => true %><%= builder.label :weekly , "Weekly" %> or
      <%= builder.radio_button 'repeat', '2', :checked => false %><%= builder.label :biweekly , "Biweekly" %><br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= builder.label :mo %><%= builder.check_box :mo %>
      <%= builder.label :tu %><%= builder.check_box :tu %>
      <%= builder.label :we %><%= builder.check_box :we %>
      <%= builder.label :th %><%= builder.check_box :th %>
      <%= builder.label :fr %><%= builder.check_box :fr %>
      <%= builder.label :sa %><%= builder.check_box :sa %>
      <%= builder.label :su %><%= builder.check_box :su %><br />
      <%= builder.radio_button 'repeat', '3', :checked => false %><%= builder.label :monthly , "Monthly" %> or
      <%= builder.radio_button 'repeat', '4', :checked => false %><%= builder.label :yearly , "Yearly" %> in <%= select_month 1 %><br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= builder.label :month_end %>? <%= builder.check_box :month_end %> or select a day <%= select_day 1 %><br />
    <% end %>

    <div class="clearfix">
        <% if !@reply %>
        <%= f.label :subject %><br />
        <%= f.text_field :subject, :class => "input_field_large" %> 
        <% elsif ( @reply && !@user.nil? && !current_user?(@user) ) %>
        <b>Reply:</b>
        <%= f.hidden_field :subject, :value => "Reply to #{@user.full_name}", :size => 30 %>
        <% end %>
    </div>
    <div class="clearfix">
        <% if !params[:subact].nil? %>
        <%= text_area_tag :editor, "", :rows => 10, :class => "input_field_large" %>
        <% else %>
        <%= f.text_area :content, :value => params[:posting_content], :rows => 10, :class => "input_field_large" %>
        <% end %>
    </div>
    <div class="clearfix">
        <% if @board.access == Posting::PUBLIC %>
        <%= f.radio_button 'visibility', '1', :checked => true %><%= f.label :visibility ,Posting::PUBLIC %>
        <%= f.radio_button 'visibility', '0', :checked => false %><%= f.label :visibility, Posting::PRIVATE %>
        <% elsif @board.access == Posting::PRIVATE %>
            <%= f.radio_button 'visibility', '1', :checked => false %><%= f.label :visibility, Posting::PUBLIC %>
            <%= f.radio_button 'visibility', '0', :checked => true %><%= f.label :visibility ,Posting::PRIVATE %>
        <% end %>
    </div>
    <div class="actions">
        <%= f.submit 'Add Event', :class => "button_neutral", :disable_with => "Adding..." %>
    </div>
<% end %>
</div>
<script type="text/javascript">
$(function() {
    $( "#datepicker" ).datepicker({dateFormat: 'yy-mm-dd'});
});
</script>