<% 
if @new_event.nil?
  @new_event = Posting.new
  @new_event.build_scheduled_event
end 
%>
<div class="clearfix">
<%= form_for @new_event, :remote => true do |f| %>
  <% if @new_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_event.errors.count, "error") %> prohibited this posting from being saved:</h2>
      <ul>
      <% @new_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= hidden_field_tag 'from_posting', @from_posting %>
    <%= hidden_field_tag 'board_id', @board.id %>
    <%= render 'scheduled_events/form_fields_for', :f => f %>
    <div class="field clearfix">
        <%= f.label :subject %><br />
        <%= f.text_field :subject, :prompt => {:hour => true} %> 
    </div>
    <div class="field clearfix">
        <% if !params[:subact].nil? %>
        <%= text_area_tag :editor, params[:editor], :rows => 10 %>
        <% else %>
        <%= f.text_area :content, :value => params[:content], :rows => 10 %>
        <% end %>
    </div>
    <div class="clearfix">
    	<% if @new_event && @new_event.access == Posting::PUBLIC %>
            <%= f.radio_button 'visibility', '1', :checked => true %><%= f.label :visibility ,Posting::PUBLIC %>
            <%= f.radio_button 'visibility', '0', :checked => false %><%= f.label :visibility, Posting::PRIVATE %>
        <% elsif @new_event && @new_event.access == Posting::PRIVATE %>
            <%= f.radio_button 'visibility', '1', :checked => false %><%= f.label :visibility, Posting::PUBLIC %>
            <%= f.radio_button 'visibility', '0', :checked => true %><%= f.label :visibility ,Posting::PRIVATE %>
    	<% elsif @board.access == Posting::PUBLIC %>
            <%= f.radio_button 'visibility', '1', :checked => true %><%= f.label :visibility ,Posting::PUBLIC %>
            <%= f.radio_button 'visibility', '0', :checked => false %><%= f.label :visibility, Posting::PRIVATE %>
        <% elsif @board.access == Posting::PRIVATE %>
            <%= f.radio_button 'visibility', '1', :checked => false %><%= f.label :visibility, Posting::PUBLIC %>
            <%= f.radio_button 'visibility', '0', :checked => true %><%= f.label :visibility ,Posting::PRIVATE %>
        <% end %>
    </div>
    <div class="actions">
        <%= f.submit 'Save Event', :class => "button_neutral", :disable_with => "Adding..." %>
    </div>
<% end %>
</div>
<script type="text/javascript">
$(function() {
    $( "#datepicker" ).datepicker({dateFormat: 'yy-mm-dd'});
});
</script>