<% return "" unless @new_board %>
<%= form_for @new_board, :id => "new_user_board", :remote => true do |f| %>
  <% if @new_board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% @new_board.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="close_button inline_right clickable">
  <% if params[:act] == 'new_board' %>
  <%= link_to 'Close', {:act => 'new_board', :subact =>'cancel'}, :class => 'tips', :title => "Close New Board" %>
  <% elsif params[:act] == 'edit_board' %>
  <%= link_to 'Close', {:board => @new_board.id, :act =>'cancel'}, :class => 'tips', :title => "Close Edit Board" %>
  <% end %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 3 %>
  </div>
  <% if current_user.schools.any? %>
  <div class="field">
    <%= f.label :school_id %><br />
    <%= f.select(:school_id, current_user.schools.collect{|s| [s.name, s.id]}, { :include_blank => true } )  %>
  </div>
  <% else %>
  <div class="note">
  If you want to connect this board to a school. You have to add that school to your profile.
  </div>
  <% end %>
  <div class="clearfix">
  <% if params[:act] == 'new_board' || ( params[:act] == 'edit_board' && @new_board.access == Posting::PUBLIC ) %>
    <%= f.radio_button 'access_level', '1', :checked => true %><%= f.label :access_level , Board::PUBLIC %>
    <%= f.radio_button 'access_level', '0', :checked => false %><%= f.label :access_level , Board::PRIVATE %><br />
  <% else  %>
      <%= f.radio_button 'access_level', '1', :checked => false %><%= f.label :access_level , Board::PUBLIC %>
      <%= f.radio_button 'access_level', '0', :checked => true %><%= f.label :access_level , Board::PRIVATE %><br />
  <% end %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit :class => "button_neutral" %>
  </div>
<% end %>
