<div class="clearfix">
<%= form_for @posting_form, :remote => true do |f| %>
    <%= hidden_field_tag 'from_posting', @from_posting %>
    <%= hidden_field_tag 'board_id', @board.id %>
    <div class="field clearfix">
        <%= f.label :subject %><br />
        <%= f.text_field :subject %> 
    </div>
    <div class="field clearfix">
        <%= f.text_area :content, :value => params[:posting_content], :rows => 10 %>
    </div>
    <div class="clearfix">
      <% if current_user.member?(@board) %>
        <%= f.radio_button 'visibility', '1', :checked => (@board.access == Posting::PUBLIC), :class => 'tips', :title => title_for_public_post %>
        <%= f.label :visibility ,Posting::PUBLIC, :class => 'tips', :title => title_for_public_post %>
        <%= f.radio_button 'visibility', '0', :checked => (@board.access == Posting::PRIVATE), :class => 'tips', :title => title_for_private_post %>
        <%= f.label :visibility, Posting::PRIVATE, :class => 'tips', :title => title_for_private_post %>
      <% else %>
        <%= # Public should be the default for non-member
          f.radio_button 'visibility', '1', :checked => true, :class => 'tips', :title => title_for_public_post %>
          <%= f.label :visibility ,Posting::PUBLIC, :class => 'tips', :title => title_for_public_post %>
      <% end %>
    </div>
    <div class="actions">
        <%= f.submit 'Add Post', :class => "button_neutral", :disable_with => "Adding..." %>
    </div>
<% end %>
</div>