<% if !params[:board].nil? %>
<% board = ( @board.nil? ? Board.find_board(params[:board]) : @board ) %>
<% end %>

<% if !board.nil? %>
<div class="sub_menu_button">
<%= link_to 'SHOW', board, :title => "Take me to this Board" %>
</div>

<% if current_user.member?(board) %>
<% if params[:act] == 'write' %>
<div class="sub_menu_button clickable selected">
<% else %>
<div class="sub_menu_button clickable">
<% end %>
<%= link_to 'WRITE', home_path+"?board=#{params[:board]}&act=write", :title => "Post on the current board" %>
</div>
<% end %>

<% if current_user.owner?(board) %>
<% if params[:act] == 'invite' %>
<div class="sub_menu_button clickable selected">
<% else %>
<div class="sub_menu_button clickable">
<% end %>
<%= link_to 'INVITE', home_path+"?board=#{params[:board]}&act=invite", :title => "Invite people to your board" %>
</div>
<div class="sub_menu_button">
<%= link_to 'EDIT', edit_board_path(@board), :title => "Take me to this Board" %>
</div>
<% end %>

<div class="autorefresh_link">
<%= render 'home/autorefresh_link', :board => board %>
</div>

<% end %>
