<% if !params[:school].nil? || params[:act] == 'schools' || params[:act] == 'school_search' %>
    <% if params[:act] == 'schools' || params[:act] == 'school_search' %>
    <div class="sub_menu_button clickable <%= selected_if(params[:act] == 'school_search' && params[:subact] != 'cancel') %>">
    <%= link_to 'ADD', home_path+"?act=school_search", :class => 'tips', :title => "Search for schools and add them to your profile", :disable_with => "Loading..." %>
    </div>
    <% elsif params[:school] || params[:date] %>
    <div class="sub_menu_button">
    <%= link_to 'SHOW', school_path(params[:school]), :class => 'tips', :title => "Show this school", :disable_with => "Loading..." %>
    </div>
    <% if current_user.has_school?(@school) %>
    <div class="sub_menu_button clickable <%= selected_if(params[:act] == 'remove_school') %>">
    <%= link_to 'REMOVE', home_path+"?school=#{params[:school]}&act=remove_school", :class => 'tips', :title => "Unlink school", :disable_with => "Loading..." %>
    </div>
    <% end %>
    <div class="sub_menu_button clickable <%= selected_if(params[:subact] == 'calendar' || params[:date]) %>"> 
    <%= link_to 'CALENDAR', home_path+"?school=#{params[:school]}&subact=calendar", :class => 'tips', :title => "View event calendar for this school", :disable_with => "Loading..." %>
    </div>
    <% end %>
    
<% elsif params[:act] == 'boards' || params[:act] == 'new_board' || params[:act] == 'board_search' %>
    <div class="sub_menu_button clickable <%= selected_if(params[:act] == 'board_search' && params[:subact] != 'cancel') %>">
    <%= link_to 'JOIN', home_path+"?act=board_search", :class => 'tips', :title => "Search for boards and add them to your profile", :disable_with => "Loading..." %>
    </div>
    <div class="sub_menu_button clickable <%= selected_if(params[:act] == 'new_board' && params[:subact] != 'cancel') %>">
    <%= link_to 'NEW', home_path+"?act=new_board", :class => 'tips', :title => "Create a new board", :disable_with => "Loading..." %>
    </div>

<% elsif !params[:board].nil? %>
    <% board = ( @board.nil? ? Board.find_board(params[:board]) : @board ) %>
    
    <% if !board.nil? %>
    <div class="sub_menu_button">
    <%= link_to 'SHOW', board, :class => 'tips', :title => "Show this board", :disable_with => "Loading..." %>
    </div>
    <% member = current_user.members.find_by_board_id(board.id) %>
    <% if member %>
    <div class="sub_menu_button clickable <%= selected_if(params[:act] == 'remove_board') %>">
    <%= link_to 'REMOVE', home_path+"?board=#{params[:board]}&act=remove_board", :class => 'tips', :title => "Remove your board", :disable_with => "Loading..." %>
    </div>
    <% end %>
    
    <% if board.access == Posting::PUBLIC || current_user.member?(board) %>
    <div class="sub_menu_button clickable <%= selected_if(params[:act] == 'write') %>">
    <%= link_to 'WRITE', home_path+"?board=#{params[:board]}&act=write", :class => 'tips', :title => "Post on this board", :disable_with => "Loading..." %>
    </div>
    <% end %>
    
    <% if member && member.member_type == Member::MemberType::OWNER %>
    <div class="sub_menu_button clickable <%= selected_if(params[:act] == 'invite') %>">
    <%= link_to 'INVITE', home_path+"?board=#{params[:board]}&act=invite", :class => 'tips', :title => "Invite people to your board", :disable_with => "Loading..." %>
    </div>
    <div class="sub_menu_button clickable <%= selected_if(params[:act] == 'edit_board') %>">
    <%= link_to 'EDIT', home_path+"?board=#{params[:board]}&act=edit_board", :class => 'tips', :title => "Edit or remove your board", :disable_with => "Loading..." %>
    </div>
    <% end %>

    <div class="sub_menu_button clickable <%= selected_if(!params[:act]) %>"> 
    <%= link_to 'CALENDAR', home_path+"?board=#{params[:board]}", :class => 'tips', :title => "View event calendar for this board", :disable_with => "Loading..." %>
    </div>
    <% end %>
    
<% elsif params[:act] == 'posts' || params[:act] == 'post_search' %>
    <div class="sub_menu_button clickable <%= selected_if(params[:act] == 'post_search' && params[:subact] != 'cancel') %>">
    <%= link_to 'FIND', home_path+"?act=post_search", :title => "Find posts", :class => 'tips', :disable_with => "Loading..." %>
    </div>
<% elsif params[:act] == 'users' || params[:act] == 'user_search' %>
    <div class="sub_menu_button clickable <%= selected_if(params[:act] == 'user_search' && params[:subact] != 'cancel') %>">
    <%= link_to 'FIND', home_path+"?act=user_search", :title => "Find users", :class => 'tips', :disable_with => "Loading..." %>
    </div>
<% 
end # end of "if !params[:school].nil? || ..."
%>