<%= form_tag home_path, :method => :get, :id => "tab_boards_search", :remote => true do %>
<%= text_field_tag :search, params[:search], :size => 70 %>
<%= hidden_field_tag 'board_search', 'on' %>
<%= submit_tag "Search boards", :name => nil, :class => 'button_neutral' %>
<% end %>

<div class="action_tab">
<%= render 'tab_board_results' %>
</div>
<i><font color="red" size="smaller">Max 50 results</font></i>
