<div class="clearfix">

<div class="close_button clearfix clickable">
<%= link_to "Close", home_path + "?act=post_search&subact=cancel", :class => 'tips', :title => "Close Post Search" %>
</div>

<%= form_tag home_path, :method => :get, :id => "tab_posts_search", :remote => true do %>
<div class="field">
<%= label_tag :date %><br />
<%= text_field_tag :date, params[:date], :size => 10, :id => "datepicker", :class => "input_field_small tips", :title => "Date format is yyyy-mm-dd" %>
</div>
<div class="field">
    <%= label_tag :search, "Search Criteria" %><br />
    <%= text_field_tag :search, params[:search] %>
</div>
<%= hidden_field_tag 'act', 'post_search' %>
<%= submit_tag "Search posts", :name => nil, :class => 'button_neutral', :disable_with => "Searching..." %>
<% end %>
<script type="text/javascript">
$(function() {
    $( "#datepicker" ).datepicker({dateFormat: 'yy-mm-dd'});
});
</script>
</div>
