<div class="clearfix">
<% 
@date = params[:month] ? Date.parse(params[:month]) : Date.today
@events = Array.new
if @posting
  @events = @posting.get_future_events_for_month @date
else
  board_events = @postings.scheduled_events
  if board_events
  	board_events.each do |posting|
      if future_events = posting.get_future_events_for_month(@date)
        @events += future_events
  	  end
    end
  end
end
%>
<div class="close_button clearfix clickable">
<%= link_to "Close", home_path + "?board=#{params[:board]||=@posting.board_id}", :title => "Close Calendar", :disable_with => "Closing..." %>
</div>
<h2 id="month" align="center">
  <!-- %= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m") % -->
  <%= @date.strftime("%B %Y") %>
  <!-- %= link_to ">", :month => (@date.beginning_of_month+1).strftime("%Y-%m") % -->
</h2>
<div id="calendar">
<%= calendar_for @events, :year => @date.year, :month => @date.month do |calendar| %>
  <%= calendar.head('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat') %>
  <% calendar.day(:day_method => :next_event) do |date, events| %> 
    <%= date.day %>
    <% for event in events %>
    <font color="green"><b>X</b></font>
    <% end %>
  <% end %>
<% end %>
</div>
</div>