<div class="clearfix">
<div class="close_button clearfix clickable">
<%= link_to "Close", home_path + "?board=#{params[:board]}", :title => "Close Find People", :disable_with => "Closing..." %>
</div>
<%= form_tag home_path, :method => :get, :id => "tab_invite_search", :remote => true do %>
<div class="field">
    <%= label_tag :search, "Search Criteria" %><br />
    <%= text_field_tag :search, params[:search] %>
</div>
<%= hidden_field_tag 'act', 'invite' %>
<%= hidden_field_tag 'board', params[:board] %>
<%= submit_tag "Find people", :name => nil, :class => 'button_neutral', :disable_with => "Searching..." %>
<% end %>
</div>

