<div class="clearfix">
<div class="close_button clearfix clickable">
<%= link_to "Close", home_path + "?board=#{params[:board]}", :title => "Close Calendar", :disable_with => "Closing..." %>
</div>
<% 
@date = params[:month] ? Date.parse(params[:month]) : Date.today
@posting = @postings.scheduled_events.first unless @posting
@events = @posting.get_future_events_for_month @date
%>
<h2 id="month">
  <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m") %>
  <%= @date.strftime("%B %Y") %>
  <%= link_to ">", :month => (@date.beginning_of_month+1).strftime("%Y-%m") %>
</h2>
<div id="calendar">
<%= calendar_for @events, :year => @date.year, :month => @date.month do |calendar| %>
  <%= calendar.head('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat') %>
  <% calendar.day(:day_method => :next_event) do |date, events| %> 
    <%= date.day %>
    <% for event in events %>
    <font color="green"><b>X</b></font>
    <% end %>
  <% end %>
<% end %>
</div>
</div>