<% if !params[:act].nil? && params[:act] == 'write' && !current_user.nil? %>
<% if !params[:subact].nil? %>
<script type="text/javascript">
  $(function() {
    $('textarea').tinymce({
<% if params[:subact] == 'advanced' %>
      theme: 'advanced'
<% else %>
      theme: 'simple'
<% end %>
    });
  });
</script>
<% end %>
<div class="close_button clickable">
    <%= link_to "Close", home_path + "?act=write&board=#{params[:board]}&subact=cancel", :title => "Close Messages" %>
    <% if !params[:subact].nil? %>
        <% if params[:subact] == 'advanced' %>
        <%= link_to "Simple", home_path + "?act=write&subact=simple&board=#{params[:board]}", :title => "Switch to simple editing" %>
        <% else %>
        <%= link_to "Advanced", home_path + "?act=write&subact=advanced&board=#{params[:board]}", :title => "Switch to advanced editing" %>
        <% end %>
    <% else %>
    <%= link_to "Editor", home_path + "?act=write&subact=editor&board=#{params[:board]}", :title => "Turn on post editing" %>
    <% end %>
</div>
<div id="action_tab">
<%= render 'board_posting_form' %>
</div>
<% end %>
