<div class="close_button inline_right clickable">
  <%= link_to "Close", home_path + '?subact=cancel', :title => "Close School Search" %>
</div>
<i><font color="red" size="smaller">Max 25 results</font></i>
<%= form_tag home_path, :method => :get, :id => "tab_schools_search", :remote => true do %>

<%= hidden_field_tag 'act', 'school_search' %>

<% states = State.all %>
<br />
<%= select_tag 'state', options_from_collection_for_select(states, :last, :first, params[:state] ||= current_user.state ) %>

<% @cities = School.where('state = ? and city = ?', current_user.state, current_user.city) %>
<% if @cities.count > 0 %>
<%= text_field_tag :city, params[:city] ||= current_user.city, :size => 15 %>
<% else %>
<%= text_field_tag :city, params[:city] %>
<% end %>
<br />
<%= text_field_tag :search, params[:search], :size => 30 %>
<%= submit_tag "Search schools", :name => nil, :class => 'button_neutral' %>
<% end %>

<div class="action_tab">
<%= render 'tab_school_results' %>
</div>

