<div id="menu_buttons">
<% unless current_user.nil? %>
<div id="main_menu">
<!-- FIRST LEVEL BUTTONS -->
<% if params[:act] == 'schools' || !params[:school].nil? %>
<div class="school_menu_button selected">
<% else %>
<div class="school_menu_button">
<% end %>
<%= link_to 'SCHOOLS', home_path+'?act=schools', :title => "Open School Menu" %>
</div>

<% if params[:act] == 'boards' || !params[:board].nil? %>
<div class="board_menu_button selected">
<% else %>
<div class="board_menu_button">
<% end %>
<%= link_to 'BOARDS', home_path+'?act=boards', :title => "Open Board Menu" %>
</div>

<!-- SECOND LEVEL SERVICE BUTTONS -->
<% if params[:act] == 'schools' || !params[:school].nil? %>
<div class="search_school_menu_button">
<%= link_to 'ADD', home_path+"?act=school_search", :title => "Search for schools and add them to your profile" %>
</div>
<% elsif params[:act] == 'boards' || !params[:board].nil? %>
<div class="search_board_menu_button">
<%= link_to 'JOIN', home_path+"?act=board_search", :title => "Search for boards and add them to your profile" %>
</div>
<div class="new_board_menu_button">
<%= link_to 'NEW', home_path+"?act=new_board", :title => "Create a new board" %>
</div>
<% end %>

</div> <!-- end of main_menu div -->

<!-- OPTIONAL BUTTONS -->
<div id="optional_buttons">
<div id="title_print_schools">
<%= render 'title_print_schools' %>
</div>


<% if params[:school].nil? %>
<div id="title_print_boards">
<%= render 'title_print_boards' %>
</div>
<% end %>
</div>

<% end %>
</div>
