<% if ( params[:act].nil? && !params[:board].nil? ) || (!params[:board].nil? && params[:subact] != 'cancel') %>
	<div class="action_tab">
	<%= render 'home/tab_board_post_search' %>
	</div>
<% elsif !params[:act].nil? %>

	<% if params[:act] == 'school_search' && params[:subact] != 'cancel' %>
	<div id="tab_school_search"><%= render 'home/tab_school_search' %></div>
	<% elsif params[:act] == 'board_search' && params[:subact] != 'cancel' %>
	<div id="tab_board_search"><%= render 'home/tab_board_search' %></div>
	<% elsif params[:act] == 'post_search' && params[:subact] != 'cancel' %>
	<div id="tab_post_search"><%= render 'home/tab_post_search' %></div>
	<% elsif params[:act] == 'user_search' && params[:subact] != 'cancel' %>
	<div id="tab_user_search"><%= render 'home/tab_user_search' %></div>
	<% elsif params[:act] == 'write' && params[:subact] != 'cancel' %>
	<%= render 'tab_write_message' %>
	<% elsif params[:act] == 'invite' && params[:subact] != 'cancel' %>
	<div id="tab_invite_search"><%= render 'home/tab_invite_search' %></div>
	<% elsif params[:act] == 'new_board' || params[:act] == 'edit_board' %>
	<div class="action_tab"><%= render 'home/new_board_form' %></div>
	<% elsif params[:act] == 'add_event' && params[:subact] != 'cancel' %>
	<div id="tab_new_event"><%= render 'home/new_event' %></div>
	<% elsif params[:act] == 'messages' %>
	<% #nothing 
	%>
	<% end %>

<% end %>