<% if current_user.schools.empty? %>
<div id="schools_area" class="clearfix">
    <div class="background_write">My Schools</div>
    <div class="note">
        <p>This area is empty because you currently don't have any schools linked to your profile.<br />
        In order to add a school of your interest please click on SCHOOLS and ADD.
        Then search for your school and click Add near the school's name in the search results.</p>
    </div>
</div>

<% else # !current_user.schools.empty?
    @current_school = current_user.schools.find_school(params[:school])
    schools = 
        ( current_user.schools.count > max_num_schools ? 
            current_user.schools[0..max_num_schools-1] :
                current_user.schools )
%>
<div id="schools_area" class="clearfix" >
    <div class="background_write">My Schools</div>
<%
    schools.each do |school|
       if school.id.to_s == params[:school]
          @current_school = school 
%>
    <div class="link_with_btn secondary_menu_button selected clearfix">
<%     else %>
    <div class="link_with_btn secondary_menu_button clearfix">
<%     end %>
    <div class="link_btn">
    <%= button_to 'X', current_user.user_schools.find_by_school_id(school.id),
      :class => "button_reject", :disable_with => 'Deleting...',
      confirm: "Do you want to remove school \"#{school.name}\"?", 
      method: :delete, :remote => true %>
    </div> 
    <%= link_to "#{strip_and_cut(school.name, 30)}", home_path + "?school=" + school.id.to_s ,{:title => "School: #{school.name}"} %>
    </div>
<%   
    end # end of do loop
%>

<%   if current_user.schools.count > max_num_schools %>
    <div class="link_with_btn secondary_menu_button clearfix">
     <%= link_to "MORE", home_path+"?act=schools&subact=nav",{:confirm => "Your other schools are listed on the right bar."} %>
    </div>
<% end %>
</div> <!-- end of school_area -->

<% 
     if !@current_school.nil?
%>
<div id="boards_area" class="clearfix" >
<div class="background_write clearfix" ><%= strip_and_cut(@current_school.name, 15) %></div>

<%
    all_boards = @current_school.boards.where(:active => true)
    if !all_boards.empty?
%>

<%
        boards = ( all_boards.count > max_num_boards ? 
                    all_boards[0..max_num_boards - 1] : all_boards )
        boards.each do |board|
%>
    <div class="link_with_btn secondary_menu_button clearfix" >
    	<div class="link_btn">
        <% if current_user.owner?(board) %>
        <%= button_to 'X', current_user.boards.find_board(board.id),
         confirm: "Do you want to remove Board \"#{board.title}\"?", 
         :class => "button_reject", :disable_with => 'Deleting...',
         method: :delete, :remote => true %>
        <% else %>
        <%= button_to 'X', current_user.members.find_by_board_id(board.id),
         confirm: "Do you want to remove Board \"#{board.title}\"?", 
         :class => "button_reject", :disable_with => 'Deleting...',
         method: :delete, :remote => true %>
        <% end %>
        </div>
        <%= link_to "#{strip_and_cut(board.title, 30)}", {:board => board.id },{:title => "Board: #{board.title}"} %>
    </div>
<%
        end # end of @current_school do-loop
 
        if all_boards.count > max_num_boards
%>
    <div class="link_with_btn secondary_menu_button clearfix">
        <%= link_to "MORE", home_path+"?boards=on",{:confirm => "Your other boards are listed on the right bar."} %>
    </div>
<%
        end # end of if all_boards.count > max_num_boards
    end # end of !all_boards.empty?
%>
</div>
<%
    end # end of if !@school.nil?
%>
<%
    end  # end of if !current_user.schools.empty?
%>
