<% if current_user.schools.empty? %>
<div id="schools_area" class="clearfix">
    <div class="background_write tips" title="Schools that linked to your profile">My Schools</div>
    <div class="note">
        <p>This area is empty because you don't have any schools yet.<br />
        In order to add a school of your interest please click 
        <%= link_to '<b>SCHOOLS</b>'.html_safe, home_path+'?act=schools', :class => 'tips', 
        :title => "<b>SCHOOLS</b> button retrieves all the latest posts from all the schools that linked to your profile.", 
        :disable_with => "SCHOOLS" %>
        and
        <%= link_to '<b>ADD</b>'.html_safe, home_path+"?act=school_search", :class => 'tips', 
        :title => "Then search for your school and click <b>Add</b> near the school's name in the search results.",
        :disable_with => "ADD" %>.
        </p>
    </div>
</div>

<% else # !current_user.schools.empty?
    @current_school = current_user.schools.find_school(params[:school])
    schools = 
        ( current_user.schools.count > max_num_schools ? 
            current_user.schools[0..max_num_schools-1] :
                current_user.schools )
%>
<div id="schools_area" class="clearfix" >
    <div class="background_write tips" title="Schools that linked to your profile">My Schools</div>
<%
    schools.each do |school|
      @current_school = school if school.id.to_s == params[:school]
%>
    <div class="secondary_menu_button <%= selected_if(school.id.to_s == params[:school]) %> clearfix">
    <%= link_to "#{strip_and_cut(school.name, 30)}", home_path + "?school=" + school.id.to_s , :class => 'tips', :title => "#{school_desc(school)}", :disable_with => "Loading..." %>
    </div>
<%   
    end # end of do loop
%>

<%   if current_user.schools.count > max_num_schools %>
    <div class="secondary_menu_button clearfix">
     <%= link_to "MORE", home_path+"?act=schools&subact=nav", :confirm => "Your other schools are listed on the right bar." %>
    </div>
<% end %>
</div> <!-- end of school_area -->

<% 
     if !@current_school.nil?
%>
<div id="boards_area" class="clearfix" >
<div class="background_write clearfix tips" title="Your boards that linked to <%= @current_school.name %>"><%= strip_and_cut(@current_school.name, 15) %></div>

<%
    all_boards = current_user.boards.where(:active => true, :school_id => @current_school.id)
    if all_boards.any?
%>

<%
        boards = ( all_boards.count > max_num_boards ? 
                    all_boards[0..max_num_boards - 1] : all_boards )
        boards.each do |board|
          member = current_user.members.find_by_board_id(board.id)
          if member
%>
    <div class="secondary_menu_button clearfix" >
        <%= link_to "#{strip_and_cut(board.title, 30)}", {:board => board.id }, :class => 'tips', :title => "#{board_desc(board, member)}", :disable_with => "Loading..." %>
    </div>
<%
          end
        end # end of @current_school do-loop
 
        if all_boards.count > max_num_boards
%>
    <div class="secondary_menu_button clearfix">
        <%= link_to "MORE", home_path+"?boards=on",{:confirm => "Your other boards are listed on the right bar."} %>
    </div>
<%
        end # end of if all_boards.count > max_num_boards
    else
%>
    <div class="note">
    	When you select a school this area contains only your boards that linked to that school.<br />
    	<%= link_to 'My boards...', home_path+'?act=boards', :class => 'tips', :title => "Open Boards Menu", :disable_with => "Loading..." %>
    </div>
<%
    end # end of !all_boards.empty?
%>
</div>
<%
    end # end of if !@school.nil?
%>
<%
    end  # end of if !current_user.schools.empty?
%>
