<div class="menu_buttons">
	
<% unless current_user.nil? %>

<!-- FIRST LEVEL BUTTONS -->
<div class="school_menu_button">
<%= link_to 'SCHOOL', home_path+'?act=schools', :title => "Open School Menu" %>
</div>

<div class="board_menu_button">
<%= link_to 'BOARD', home_path+'?act=boards', :title => "Open Board Menu" %>
</div>

<div class="msg_menu_button">
<% if !params[:board].nil? %>
<%= link_to 'MESSAGE', home_path+"?board=#{params[:board]}&act=write", :title => "Post on the current board" %>
<% end %>
</div>  

<!-- SECOND LEVEL SERVICE BUTTONS -->
<% if params[:act] == 'schools' || !params[:school].nil? %>
<div class="search_school_menu_button">
<%= link_to 'ADD', home_path+"?act=school_search", :title => "Search for Schools" %>
</div>
<% elsif params[:act] == 'boards' || !params[:board].nil? %>
<div class="search_board_menu_button">
<%= link_to 'ADD', home_path+"?act=board_search", :title => "Search for Boards" %>
</div>
<div class="new_board_menu_button">
<%= link_to 'NEW', home_path+"?act=new_board", :title => "Create a new Board" %>
</div>
<% end %>

<!-- OPTIONAL BUTTONS -->
<% if params[:act] == 'schools' || !params[:school].nil? %>
<%= render 'print_schools'%>
<% elsif params[:act] == 'boards' %>
<%= render 'print_boards' %>
<% end %>

<% end %>
</div>
