<% if !params[:act].nil? %>

<% if params[:act] == 'school_search' %>
<%= render 'tab_school_search' %>
<% elsif params[:act] == 'board_search' %>
<%= render 'tab_board_search' %>
<% elsif params[:act] == 'write' %>
<%= render 'tab_write_message' %>
<% elsif params[:act] == 'invite' %>
<%= render 'tab_invite_search' %>
<% elsif params[:act] == 'new_board' %>
<div class="action_tab">
<%= render 'new_board_form' %>
</div>
<% end %>

<% end %>