<div id="navigation">
<%= render 'navigation' %>
</div>

<div id="title">
<%= render 'title' %>
</div>

<div id="right_side_act">
	
<br class="clearBoth" />

<div class="info_note">
<%= render "info" %>
</div>
<div id="title_top_action">
<%= render 'title_top_action' %>
</div>

</div><!-- end of right_side_act -->

<div id='main_part'>

<div class="sub_title_nav">
<%= render 'home/sub_title_nav' %>
</div> <!-- end of sub_title_nav -->

<div class="home_sub_title">
<%= render 'home_sub_title' %>
</div> <!-- close home_sub_title -->

<div id="user_postings">
<% if !@postings.nil? %>
<%= render 'shared/containers/page_container', :page_container => @postings %>
<% elsif !@messages.nil? %>
<%= render 'home/messages' %>
<% end %>
</div> <!-- close user_postings -->

</div> <!-- close main_part -->

<br class="clearBoth" />
