<%= render 'navigation' %>

<div id="title">
<%= render 'title' %>
</div>

<div id='main_part'>

<%= notice %>

<div id="top_title_action">
<%= render 'top_title_action' %>
</div>

<br class="clearBoth" />

<div class="home_sub_title">
<%= render 'home_sub_title' %>
</div> <!-- close home_sub_title -->

<div id="user_postings">
<%= render 'postings' %>
</div> <!-- close user_postings -->

</div> <!-- close main_part -->

<br class="clearBoth" />
