<%= render 'navigation' %>

<div id="title">
<%= render 'title' %>
</div>

<div id='main_part'>
	
<%= notice %>

<div id="top_title_action">
<%= render 'top_title_action' %>
</div>

<br class="clearBoth" />

<div class="user_sub_title">
<%= render 'user_sub_title' %>
</div> <!-- close user_sub_title -->

<div id="user_postings">
<%= render 'postings' %>
</div> <!-- close user_postings -->

<br class="clearBoth" />
</div> <!-- close main_part -->

<br class="clearBoth" />
