<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @ownership.user_id %>
</p>

<p>
  <b>Group:</b>
  <%= @ownership.group_id %>
</p>


<%= link_to 'Edit', edit_ownership_path(@ownership) %> |
<%= link_to 'Back', ownerships_path %>
