<h2><strong><%= @board.title %></strong></h2>
<% owner = @board.owner %>
Owner: <%= link_to owner.full_name, user_path(owner) %>
<% if @board.school_id %>
<% school = School.find_school(@board.school_id) %>
<% if school %>
<p><b>Linked to <%= link_to school.name, school_path(school) %></b></p>
<% end %>
<% end %>
<p><b><%= @board.status %> <%= @board.access %> Board, <%= pluralize(@board.view_count, views_str) %></b>
<br /><%= @board.description %><br />
<div class="inline_right">
<% if @board.active? && current_user.owner?(@board) %>
<%= button_to 'Delete Board', current_user.boards.find_board(@board.id),
     confirm: "Do you want to delete board \"#{@board.title}\"?", 
     :class => "button_reject tips", :disable_with => 'Deleting...',
     method: :delete, :remote => true,
     :title => "Delete Board \"#{@board.title}\"" %>
<% elsif @board.active? && current_user.follower?(@board) %>
<%= button_to 'Leave Board', current_user.members.find_by_board_id(@board.id),
     confirm: "Do you want to unlink board \"#{@board.title}\" from your profile?", 
     :class => "button_reject tips", :disable_with => 'Deleting...',
     method: :delete, :remote => true,
     :title => "Leave Board \"#{@board.title}\"" %>
<%= render 'votes/vote_btn', :element => @board %>
<% else %>
<%= render 'votes/vote_btn', :element => @board %>
<% end %>
</div>