<h2><strong><%= @board.title %></strong></h2>
Owner: <%= @board.owner.full_name %>
<% if @board.school_id %>
<% school = School.find_school(@board.school_id) %>
<% if school %>
<p><b>Linked to <%= school.name %></b></p>
<% end %>
<% end %>
<p><b><%= @board.status %> <%= @board.access %> Board, <%= pluralize(@board.view_count, views_str) %></b>
<br /><%= @board.description %><br />
