<%= form_for(@board) do |f| %>
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% @board.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => 40 %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 3, :cols => 40 %>
  </div>
  <div class="field">
    <%= f.label :school_id %><br />
    <%= f.select(:school_id, current_user.schools.collect{|s| [s.name, s.id]}, { :include_blank => true } )  %>
  </div>
  <div class="field">
    <%= f.label :access_level %> 
    <%= f.radio_button 'access_level', '1' %><%= f.label :access_level , Board::PUBLIC %>
    <%= f.radio_button 'access_level', '0' %><%= f.label :access_level , Board::PRIVATE %><br />
  </div>
  <br />
  <div class="actions">
    <%= f.submit :class => "button_confirm" %>
  </div>
<% end %>
