<%= form_for @posting_form, :remote => true do |f| %>
  <% if @posting_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@posting_form.errors.count, "error") %> prohibited this posting from being saved:</h2>
      <ul>
      <% @posting_form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= hidden_field_tag 'last_posting', @last_posting %>
    <%= hidden_field_tag 'board_id', @board.id %>
  <div class="field">
    <% if !@reply %>
    <%= f.label :subject %><br />
    <%= f.text_field :subject, :value => "", :size => 40 %> 
    <% elsif ( @reply && !@user.nil? && !current_user?(@user) ) %>
    <b>Reply:</b>
    <%= f.hidden_field :subject, :value => "Reply to #{@user.full_name}", :size => 40 %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <% if @board.access == Posting::PUBLIC %>
    <%= f.radio_button 'visibility', '1', :checked => true %><%= f.label :visibility ,Posting::PUBLIC %>
    <%= f.radio_button 'visibility', '0', :checked => false %><%= f.label :visibility, Posting::PRIVATE %>
    <% elsif @board.access == Posting::PRIVATE %>
        <%= f.radio_button 'visibility', '1', :checked => false %><%= f.label :visibility, Posting::PUBLIC %>
        <%= f.radio_button 'visibility', '0', :checked => true %><%= f.label :visibility ,Posting::PRIVATE %>
    <% end %>
    <br />
    <%= f.text_area :content, :value => "", :rows => 3, :cols => 40 %>
  </div>
  <div class="actions">
    <%= f.submit 'Add Post', :class => "button_neutral" %>
  </div>
<% end %>
