<%= form_tag board_path(@board), :method => :get, :id => "tab_invite_search", :remote => true do %>
<div class="float_left">
<%= text_field_tag :search, params[:search], :size => 30 %>
</div>
<%= hidden_field_tag 'act', 'invite' %>
<div class="float_left">
<%= submit_tag "Find people", :name => nil, :class => 'button_neutral' %>
</div>
<% end %>

<div id="action_tab" class="clearfix">
<%= render 'boards/tab_invite_results' %>
</div>
