<!-- SECOND LEVEL SERVICE BUTTONS -->
<div id="second_level_btns">
<!-- %= render 'home/second_level_btns' % -->
</div> <!-- end of second_level_btns -->
<!-- END OF SECOND LEVEL SERVICE BUTTONS -->

<!-- FIRST LEVEL SERVICE BUTTONS -->
<div class="first_menu_button <%= selected_if(params[:act] == 'calendar') %>">
<%= link_to 'CALENDAR', board_path(@board)+'?act=calendar', :class => 'tips', :title => "Show event calendar", :disable_with => "Loading..." %>
</div>

<% if @board.access == Posting::PUBLIC || current_user.member?(@board) %>
<div class="second_menu_button <%= selected_if(params[:act] == 'write') %>">
<%= link_to 'WRITE', board_path(@board)+'?act=write', :class => 'tips', :title => "Post on your board", :disable_with => "Loading..." %>
</div>
<% 
   elsif @board.active? # show JOIN buttons
   	@join = true
%>
<div class="second_menu_button <%= selected_if(params[:act] == 'join') %>">
<%= link_to 'JOIN', board_path(@board)+'?act=join', :class => 'tips',
    :title => "Join is a request to become a member of the board.\nAfter owner's confirmation your profile will be linked to the board. You will be able to see private posts and write on that board.", 
    :disable_with => "Loading..." %>
</div>
<div class="third_menu_button <%= selected_if(params[:act] == 'follow') %>">
<%= link_to 'FOLLOW', board_path(@board)+'?act=follow', :class => 'tips', 
    :title => "Follow will allow you to recieve only public posts from this board. You do not need owner's permission to follow a board, but you will not be able to post on the private boards.",
    :disable_with => "Loading..." %>
</div>
<% end %>

<% if current_user.owner?(@board) %>
<div class="third_menu_button <%= selected_if(params[:act] == 'invite' || params[:act] == 'invite_by_email') %>">
<%= link_to 'INVITE', board_path(@board)+'?act=invite', :class => 'tips', 
:title => "Invite to your board", :disable_with => "Loading..." %>
</div>
<div class="fourth_menu_button <%= selected_if(params[:act] == 'edit_board') %>">
<%= link_to 'EDIT', board_path(@board)+'?act=edit_board', :class => 'tips', 
:title => "Edit your board", :disable_with => "Loading..." %>
</div>
<% 
  elsif @board.active? && !@join && !current_user.member?(@board) # show JOIN buttons if the were not show in the previous step
%>
<div class="third_menu_button <%= selected_if(params[:act] == 'join') %>">
<%= link_to 'JOIN', board_path(@board)+'?act=join', :class => 'tips',
:title => "Join is a request to become a member of the board.\nAfter owner's confirmation your profile will be linked to the board. You will be able to see private posts and write on that board.",
:disable_with => "Loading..." %>
</div>
<div class="fourth_menu_button <%= selected_if(params[:act] == 'follow') %>">
<%= link_to 'FOLLOW', board_path(@board)+'?act=follow',  :class => 'tips',
    :title => "Follow will allow you to recieve only public posts from this board. You do not need owner's permission to follow a board, but you will not be able to post on the private boards.", 
    :disable_with => "Loading..." %>
</div>

<% end %>
<!-- END OF FIRST LEVEL SERVICE BUTTONS -->
