<% if !params[:act].nil? %>

	<% if params[:act] == 'write' && params[:subact] != 'cancel' %>
	<%= render 'home/tab_write_message', :controller_path => board_path(@board) %>
	<% elsif params[:act] == 'invite' && params[:subact] != 'cancel' %>
	<div id="tab_invite_search">
		<%= render 'home/tab_invite_search', :controller_path => board_path(@board) %>
	</div>
	<% elsif params[:act] == 'invite_by_email' && params[:subact] != 'cancel' %>
	<div id="tab_invite_search">
		<%= render 'home/tab_invite_by_email', :controller_path => board_path(@board) %>
	</div>
	<% elsif params[:act] == 'edit_board' %>
	<div class="action_tab"><%= render 'home/new_board_form' %></div>
	<% elsif ( params[:act] == 'add_event' || params[:act] == 'edit_event' ) && params[:subact] != 'cancel' %>
	<div id="tab_new_event"><%= render 'home/tab_new_event' %></div>
	<% elsif params[:act] == 'join' %>
	<div class="tab_join"><%= render 'boards/tab_join' %></div>
	<% elsif params[:act] == 'follow' %>
	<div class="tab_follow"><%= render 'boards/tab_follow' %></div>
	<% elsif params[:act] == 'calendar' %>
	<div class="action_tab"><%= render 'boards/tab_board_post_search' %></div>
	<% end %>

<% end %>