<p id="notice"><%= notice %></p>

<div id="board_content">
<%= link_to 'Home', home_path + "?board=#{@board.id}", :class => "button_neutral" %>

<%= render 'board_details' %>

<% if @board.active? && current_user.member?( @board.id ) %>
<% @reply = false %>
<%= render 'posting_form' %>
<% end %>

<div id="board_postings">
<%= render 'postings' %>
</div>

</div>
