<div id="board_content" class="clearfix">
<p id="notice"><%= notice %></p>
<%= link_to 'Home', home_path + "?board=#{@board.id}", :class => "button_neutral" %>

<%= render 'board_details' %>

<% if @board.active? && ( @board.access == Posting::PUBLIC || current_user.member?( @board.id ) ) %>
<% @reply = false %>
<%= render 'posting_form' %>
<% end %>

<div id="board_postings">
<%= render 'boards/postings' %>
</div>

</div>
