<div id="_title_nav">
	<div id="_title"><%= element.title %></div>
	<div class="action_button">
	<%= link_to "Sign out", signout_path, :method => :delete %>
	</div>
	<br class="clearBoth" />
	<div id="_desc"><%= element.description %></div>
	<% if current_user?(@user) %>
	<div class="delete_button"><%= link_to 'Del', element, confirm: 'Are you sure?', 
	                   method: :delete, :title => "Delete #{element.title}" %></div>
	<div class="edit_button"><%= link_to 'Edit', edit_link %></div>
	<% end %>
</div>
<br class="clearBoth" />
