<div id="_title_nav">    
    <div id="_title">
        <%= link_to element.title, element %>
    </div>
    <div id="_desc"><%= element.description %></div>
</div>
<div class="logo_nav clearfix">
    <%= link_to "Sign out", signout_path, :method => :delete %>
    <% if request.fullpath =~ /\/home?/ %>
	<div class="logo_link logo_messages clickable">
	<% else %>
	<div class="logo_link logo_messages">
	<% end %>
	    <%= render 'home/check_new_msg' %>
	</div>
    <%= link_to 'Settings', edit_link %>
    <%= link_to 'Home', home_path %>
</div>