<%= notice %>
<h3 id="_title"><%= element.title %></h3>
<div id="_desc"><%= element.description %></div>
<div id="_title_nav">
<% if current_user?(@user) %>
<%= link_to 'Edit', edit_link %>
<%= link_to 'Delete', element, confirm: 'Are you sure?', method: :delete,
	                :title => "Delete #{element.title}" %>
<% end %>
</div>
<hr>
