<div id="_title_nav">
	<div id="sign_out"><%= link_to "Sign out", signout_path, :method => :delete %></div>
	<div id="_title">
		<%= element.title %>
	</div>
	<div class="delete_button"><%= link_to 'Del', element, confirm: 'Are you sure?', 
	                   method: :delete, :title => "Delete #{element.title}" %></div>
	<div class="edit_button"><%= link_to 'Edit', edit_link %></div>
	<div class="action_button clickable"><%= link_to 'Home', home_path %></div>
	<div id="_desc"><%= element.description %></div>
</div>
<div class="logo_link clickable logo_messages">
    <%= render 'home/check_new_msg' %>  
</div>

