<header id="header">
  <nav>
  	<ul>
      <!--li--><!-- %= link_to "Home", root_path % --><!--/li-->
      <% if current_user && signed_in? %>
      <li><%= link_to "#{current_user.full_name}", home_path %></li>
      <li><%= link_to "Schools", schools_path %></li>
      <li><%= link_to "Users", users_path %></li>
      <li><%= link_to "Boards", boards_path %></li>
      <li><%= link_to "Members", members_path %></li>
      <li><%= link_to "Messages", messages_path %>
        <% if current_user.recieved.unread.count > 0 %>
        <font color="red"><b><%= current_user.recieved.unread.count %> new</b></font>
        <% end %>
      </li>
      <li><%= link_to "Posts", postings_path %> <i>You have <%= pluralize(current_user.postings.count, 'post') %></i></li>
      <% end %>
    </ul>
  </nav>
<% flash.each do |key, value|%>
<%= content_tag(:div, value, :class => "flash #{key}") %>
<% end %>

</header>
<br class="clearBoth" />
