<!DOCTYPE html>
<html>
<head>
  <title>Boardten<%= ': ' + @title unless @title.blank? %></title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :application, :debug => true %>
  <%= yield :head_css %>
  <%= yield :head_js %>
  <%= csrf_meta_tags %>
</head>
<body>
<% turn_on = false %>
<% if turn_on %>
<div id="right-sidebar">
  <% if !current_user.nil? && current_user?(@user) %>
  <%= render 'users/navigation', :user => current_user %>
  <% end %>
</div>
<% end %>

<%= render 'layouts/logo' %>

<div id="content">
<%= yield %>
</div> <!-- closing content -->

<br class="clearBoth" />

<%= render 'layouts/footer' %>

</body>
</html>
