<!DOCTYPE html>
<html>
<head>
  <title>Boardten<%= ': ' + @title unless @title.blank? %></title>
  <%= render 'layouts/stylesheets' %> 
  <%= javascript_include_tag :application, :debug => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="maincontainer">

<div id="topsection">
<!-- not used for now -->
</div>

<div id="contentwrapper">
<div id="contentcolumn">
<%= yield %>
</div>
</div>

<div id="leftcolumn">
<!-- not used for now -->
</div>

<div id="rightcolumn">
<!-- not used for now -->
<% if turn_on = false %>
<div id="right-sidebar">
	 <% if !current_user.nil? && current_user?(@user) %>
	 <%= render 'users/navigation', :user => current_user %>
	 <% end %>
</div>
<% end %>
</div>

<div id="footer">
<%= render 'layouts/footer' %>
<%= render 'layouts/header' %>
</div>

</div> <!-- closing maincontainer -->

</body>
</html>
