<% group = Group.find(member.group_id) %>
<tr>
   <td class="group"><span class="access"><b><%= group.access %> Group: </b></span>
   <span class="title"><b><%= link_to group.title, group %></b></span>
   <span class="status"><i><%= group.status unless ( group.active ) %></i></span>
   <span class="views">
   <i> (<%= pluralize(group.view_count, 'view') + ', ' + pluralize(group.postings.count, 'post') %>) </i> </span> 
   <br />
   <span class="description"><%= strip_and_cut( group.description ) %></span>
   </td>
</tr>
