<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @member.user_id %>
</p>

<p>
  <b>Board:</b>
  <%= @member.board_id %>
</p>

<p>
  <b>Owner:</b>
  <%= @member.member_type %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
